<div class="contentConti" id="assetsConti">
	<div id="assetsNav" class="navigation">
		<div id="personalNav" class="quat"><a onclick="click(this);" href="#!/assets/personal/">Personal</a></div><div id="corporationNav" class="quat"><a onclick="click(this);" href="#!/assets/corporation/">Corporation</a></div><div id="allianceNav" class="quat"><a onclick="click(this);" href="#!/assets/alliance/">Alliance</a></div><div id="memberNav" class="quat"><a onclick="click(this);" href="#!/assets/member/">Member</a></div>
	</div>
	<div id="assetsContent"></div>
	<div style="display: none;">
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	assetsJS();
	function assetsJS () {
		if(location.hash.split("/")[2] == "") {
			var t = $("#personalNav").children[0];
			location.hash = t.getAttribute("href");
			click(t);
		} else {
			$("#" + location.hash.split("/")[2] + "Nav").className.replace(" selected", "");
			$("#" + location.hash.split("/")[2] + "Nav").className += " selected";
			var fn = "assets" + location.hash.split("/")[2] + "JS";
			if(typeof window[fn] === "function")
				window[fn](function () {
					fadeOn($("#assetsConti"), 1);
				});
		}
	}

	function assetspersonalJS (cb) {
		cb();
	}

	function assetscorporationJS (cb) {
		cb();
	}

	function assetsallianceJS (cb) {
		cb();
	}

	function assetsmemberJS (cb) {
		cb();
	}
</script>