<div class="contentConti" id="assetsConti">
	<div id="assetsNav" class="navigation">
		<div id="personalNav" class="quat"><a onclick="click(this);" href="#!/assets/personal/">Personal</a></div><div id="corporationNav" class="quat"><a onclick="click(this);" href="#!/assets/corporation/">Corporation</a></div><div id="allianceNav" class="quat"><a onclick="click(this);" href="#!/assets/alliance/">Alliance</a></div><div id="memberNav" class="quat"><a onclick="click(this);" href="#!/assets/member/">Member</a></div>
	</div>
	<div id="assetsContent"></div>
	<div style="display: none;">
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/assets.js"></script>
