<div class="contentConti" id="charactersheetConti">
	<h1 class="blue tu ml">Active Character</h1>
	<p class="inset inline-block">
		<img class="block" id="characterImg"><img id="corporationImg"><img id="allianceImg">
	</p>
	<div class="inline-block ml">
		<h4 class="mbn">Character Name</h4>
		<h2 class="mtn dark" id="characterName"></h2>
		<h4 class="mbn">Corporation Name</h4>
		<h2 class="mtn dark" id="corporationName"></h2>
		<h4 class="mbn">Alliance Name</h4>
		<h2 class="mtn dark" id="allianceName"></h2>
	</div>
	<div class="inline-block ml">
		<h4 class="mbn">Groups</h4>
		<div id="groupList"></div>
	</div>
	<div class="divider"></div>
	<div class="inline-block ml">
		<h1 class="blue tu mtn">All Characters</h1>
		<div id="characterList"></div>
	</div>
	<div class="inline-block ml">
		<h1 class="blue tu mtn">Add Character</h1>
		<a id="charSwitch"><img src="/img/EVE_SSO_Login_Buttons_Small_White.png" alt="EVE SSO Login Button"></a>
	</div>
	<div class="divider"></div>
	<div class="inline-block ml">
		<h1 class="blue tu mtn">Options</h1>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/charactersheet.js"></script>
