<div class="contentConti" id="charactersheetConti">
	<h1 class="blue tu ml mbn">Active Character</h1>
	<p class="inset inline-block">
		<img class="block" id="characterImg"><img id="corporationImg"><img id="allianceImg">
	</p>
	<div class="inline-block ml">
		<h4 class="mbn">Character Name</h4>
		<h2 class="mtn dark" id="characterName"></h2>
		<h4 class="mbn">Corporation Name</h4>
		<h2 class="mtn dark" id="corporationName"></h2>
		<h4 class="mbn">Alliance Name</h4>
		<h2 class="mtn dark" id="allianceName"></h2>
	</div>
	<div class="inline-block ml">
		<h4 class="mbn">Groups</h4>
		<div id="groupList"></div>
	</div>
	<div class="divider"></div>
	<div class="inline-block ml">
		<h1 class="blue tu mtn">All Characters</h1>
		<div id="characterList"></div>
	</div>
	<div class="inline-block ml">
		<h1 class="blue tu mtn">Add Character</h1>
		<a id="charSwitch"><img src="/img/EVE_SSO_Login_Buttons_Small_White.png" alt="EVE SSO Login Button"></a>
	</div>
	<div class="divider"></div>
	<h1 class="blue tu ml mbn">Options</h1>
	<div class="inline-block ml">
		<h1 class="blue tu mbn mtn gray">Jabber</h1>
		<div id="jidlist" class="optionslist"></div>
		<script type="text/template" id="jidTemplate">
			{0}
		</script>
	</div>
	<div class="inline-block ml">
		<h1 class="blue tu mbn mtn gray">Jabber [Unconfirmed]</h1>
		<div id="xjidlist" class="optionslist"></div>
		<div>
			<input type="text" name="jid" id="jid" class="mtn" placeholder="Jabber ID">
			<span class="btn" onclick="addJID();">+</span>
			<p class="inset">Send<br>"confirm &lt;hash&gt;"<br>to<br>neticumbot@eneticum.de</p>
		</div>
		<script type="text/template" id="xjidTemplate">
			<div class="hover row"><span>{0}</span><span class="fr hover" onclick="delOption('xjid','{0}');">×</span></div>
		</script>
	</div>
	<div class="divider"></div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/charactersheet.js"></script>
