<div class="contentConti" id="controltowerConti">
	<div class="card">
		<div class="chead">
			<h1 class="blue" id="controltowername"></h1>
		</div>
		<div class="cbody">
			<div class="paddedp">
				<table border="0" class="half">
					<tr><th></th><th></th></tr>
					<tr>
						<td><span class="info hover" id="controltowernotif"><div class="notif"></div>i</span>Notifications</td>
						<td id="controltowermoonname"></td>
					</tr>
					<tr>
						<td id="controltowerstatename"></td>
						<td id="controltowertypename"></td>
					</tr>
					<tr><td>Fuel</td></tr>
					<tr><td colspan="3"><div class="progressBar"><div id="controltowerfuel"></div></div></td></tr>
					<tr><td>Strontium</td></tr>
					<tr><td colspan="3"><div class="progressBar"><div id="controltowerstrontium"></div></div></td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h3 class="blue">Modules</h3>
		</div>
		<div class="cbody" id="moduleslist"></div>
	</div>
	<div id="reactions" class="card" ondrop="dropReaction(event, this)" ondragover="dragOverReaction(event, this)" ondragleave="dragLeaveReaction(event, this)">
		<div class="chead">
			<h3 class="blue">Reactions</h3>
		</div>
		<div class="cbody"></div>
	</div>
	<script type="text/template" id="modulesTemplate">
		<div class="hover paddedp"><a href="#!/corporation/{0}/container/{1}/" onclick="click(this);">{2}</a>{3}</div>
	</script>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/structurescontroltower.js"></script>
