<div class="contentConti" id="groupsConti">
	<div class="card">
		<div class="chead">
			<h2 class="blue">Editable Groups</h2>
		</div>
		<div id="groupslist" class="cbody">
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h2 class="blue">Corporation Groups</h2>
		</div>
		<div id="corporationGroupslist" class="cbody">
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h2 class="blue">Alliance Groups</h2>
		</div>
		<div id="allianceGroupslist" class="cbody">
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h2 class="blue">Create Group</h2>
		</div>
		<div id="groupform" class="cbody paddedp">
			<h4 id="createresponse"></h4>
			<h4 class="mbn">Group Name</h4>
			<input type="text" id="groupName"/>
			<h4 class="mbn">Group Scope</h4>
			<select id="groupScope">
				<option>corporation</option>
				<option>alliance</option>
			</select>
			<h4 class="mbn">Group State</h4>
			<div class="hover row">
				<input type="checkbox" id="groupState" checked="true" /><label for="groupState">Is Private?</label>
			</div>
			<div class="divider"></div>
			<span class="btn" onclick="createGroup();">Create</span>
		</div>
	</div>
	<div style="display: none;">
		<div id="groupsTemplate">
			<div class="hover paddedp"><a href="#!/group/{0}/" onclick="click(this);">{1}</a>{2}</div>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	groupsJS();
	function groupsJS () {
		ajax("/json/groups/", function (r) {
			console.log(r);
			var tmpl = $("#groupsTemplate").innerHTML;
			var el1 = $("#groupslist");
			var el2 = $("#corporationGroupslist");
			var el3 = $("#allianceGroupslist");
			el1.innerHTML = "";
			el2.innerHTML = "";
			el3.innerHTML = "";
			for(var i = 0; i < r.owned.length; i++)
				if(r.owned[i].owner != null || (r.owned[i].owner == null && coreStatus.isAdmin))
					el1.innerHTML += tmpl.format(r.owned[i].id,(r.owned[i].custom == 1 ? '[custom] ' : '') + r.owned[i].name, "");
			for(var i = 0; i < r.corporation.length; i++)
				el2.innerHTML += tmpl.format(r.corporation[i].id,(r.corporation[i].custom == 1 ? '[custom] ' : '') + r.corporation[i].name, '<span class="fr">[' + ((r.groups & Math.pow(2, r.corporation[i].id)) == Math.pow(2, r.corporation[i].id) ? "member" : "apply") + ']</span>');
			for(var i = 0; i < r.alliance.length; i++)
				el3.innerHTML += tmpl.format(r.alliance[i].id,(r.alliance[i].custom == 1 ? '[custom] ' : '') + r.alliance[i].name, '<span class="fr">[' + ((r.groups & Math.pow(2, r.alliance[i].id)) == Math.pow(2, r.alliance[i].id) ? "member" : "apply") + ']</span>');

			fadeOn($("#groupsConti"), 1);
		}, "json");
	}

	function createGroup () {
		ajax("/json/group/create/" + $("#groupName").value + "/" + $("#groupScope").value + "/" + $("#groupState").checked + "/", function (r) {
			if(r.state == "success") {
				groupsJS();
			} else {
				$("#createresponse").innerHTML = r.msg;
			}
		}, "json");
	}
</script>