<div class="contentConti" id="groupsConti">
	<div class="card">
		<div class="chead">
			<h2 class="blue">Editable Groups</h2>
		</div>
		<div id="groupslist" class="cbody">
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h2 class="blue">Corporation Groups</h2>
		</div>
		<div id="corporationGroupslist" class="cbody">
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h2 class="blue">Alliance Groups</h2>
		</div>
		<div id="allianceGroupslist" class="cbody">
		</div>
	</div>
	<div class="card" id="createGroupForm">
		<div class="chead">
			<h2 class="blue">Create Group</h2>
		</div>
		<div id="groupform" class="cbody paddedp">
			<h4 id="createresponse"></h4>
			<h4 class="mbn">Group Name</h4>
			<input type="text" id="groupName"/>
			<h4 class="mbn">Group Scope</h4>
			<select id="groupScope"></select>
			<h4 class="mbn">Group State</h4>
			<div class="hover row">
				<input type="checkbox" id="groupState" checked="true" /><label for="groupState">Is Private?</label>
			</div>
			<div class="divider"></div>
			<span class="btn" onclick="createGroup();">Create</span>
		</div>
	</div>
	<script type="text/template" id="groupsTemplate">
		<div class="hover paddedp"><a href="#!/group/{0}/" onclick="click(this);">{1}</a>{2}</div>
	</script>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/groups.js"></script>
