<div class="contentConti" id="helpConti">
	<h1>Topics</h1>
	<ul>
		<li><a href="/#help_introduction">Intoduction</a></li>
		<li><a href="/#help_home">Home</a></li>
		<li><a href="/#help_profile">Profile</a></li>
		<li><a href="/#help_t3">Topic 3</a></li>
		<li><a href="/#help_t4">Topic 4</a></li>
		<li><a href="/#help_t5">Topic 5</a></li>
	</ul>
	<div id="help_introduction">
		<h2>Introduction</h2>
		<p class="paddedp">
			Since you are here you are probably in search for answers to your questions.
			<br>
			I will try to answer them as good as I can, if you are not satisfied with them, feel free to contact me personally so I can help you even more.
			<br>
			The topics are sorted by the page you find the feature on you are seeking help with.
			<br>
			<br>
			Greetings,
			<br>
			// Robert
		</p>
	</div>
	<div id="help_home">
		<h2>Home</h2>
		<p class="paddedp">
			There is not much you could possibly need help with on this page.
			<br>
			It is just a short introduction of what this page is and what you can find here, including the small tour.
		</p>
	</div>
	<div id="help_profile">
		<h2>Profile</h2>
		<p class="paddedp">
			The Profile page lists basic information about your currently logged in character.
			<br>
			<br>
			<span class="blue fsl">ACTIVE CHARACTER</span>
			<br>
			At the top you will find your characters portrait, a corporation and eventually an alliance logo aswell as the appropriate names right next to it.
			<br>
			Next to it (or below, depending on your screen width) there is a list of the groups you are currently member of. This incudes your corporation and alliance group but also the ones you have been assigned by a CEO/Director.
			<br>
			<br>
			<span class="blue fsl">ALL CHARACTERS / ADD CHARACTER</span>
			<br>
			The character list shows you which characters are connected to your alliance service user. Each character, displayed with alliance, corporation logo and character portrait and character name, has a floating &times; right next to it (excluding the currently active character).
			<br>
			Pressing the &times; icon will immediatly remove the character from your user.
			<br>
			To readd or add annother character, you press the "Login with EVE SSO" button like you did on the initial login.
			<br>
			While beeing logged in and pressing that button, the character you then log in with will be added to your user and you can freely switch between them.
			<br>
			Clicking a characters name from the already mentioned list will make this character the currently active one, you will switch to this character.
			<br>
			<br>
			<span class="blue fsl">SERVICES</span>
			<br>
			The services section includes various modifications (mainly passwords), the abbility to add and remove jabber, mumble and teamspeak accounts.
			<br>
			Once logged in you gain the abbility to login to the Jabber server with the listed JID once you set a password initially. You can change this in the texfield whenever you want.
			<br>
			Adding works with the textfield, removing works like the characterlist, pressing the &times;.
		</p>
	</div>
	<div id="help_t3">
		<h4>Topic 3</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t4">
		<h4>Topic 4</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t5">
		<h4>Topic 5</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>