<div class="contentConti" id="helpConti">
	<h2>Topics</h2>
	<ul>
		<li><a href="/#help_t1">Topic 1</a></li>
		<li><a href="/#help_t2">Topic 2</a></li>
		<li><a href="/#help_t3">Topic 3</a></li>
		<li><a href="/#help_t4">Topic 4</a></li>
		<li><a href="/#help_t5">Topic 5</a></li>
	</ul>
	<div id="help_t1">
		<h4>Topic 1</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t2">
		<h4>Topic 2</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t3">
		<h4>Topic 3</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t4">
		<h4>Topic 4</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
	<div id="help_t5">
		<h4>Topic 5</h4>
		<p class="paddedp">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus mauris turpis. Donec lacinia, enim at tristique posuere, purus nisi pellentesque eros, ac efficitur lectus lacus a massa. Aliquam tempor porttitor quam, nec imperdiet risus. Vestibulum consectetur nibh malesuada vulputate auctor. In magna velit, laoreet vel semper eget, ullamcorper et nibh. Curabitur sed odio eros. Nunc nec laoreet nibh. Aliquam semper ut neque ac mollis.

			In vitae vehicula urna. Quisque ac fermentum dolor, in rutrum est. Phasellus ut sollicitudin tortor. Vestibulum sagittis vestibulum dui sit amet pretium. Suspendisse rutrum, erat et molestie egestas, ex enim ornare sem, eu scelerisque mauris diam nec lacus. Etiam lacinia quam massa, non lobortis enim tempor sit amet. Donec cursus, massa id volutpat vehicula, felis eros faucibus ex, a consequat ante dolor non leo.

			In hac habitasse platea dictumst. Proin placerat maximus eros quis fermentum. Phasellus aliquam nulla aliquam, malesuada ante id, ullamcorper est. Proin egestas nulla eu orci ullamcorper, eget facilisis dolor lacinia. Cras elit urna, egestas vel ullamcorper non, porttitor vitae augue. Aenean consectetur ultricies eros, mattis dignissim sem porttitor eu. In cursus nibh in iaculis eleifend. Fusce ultricies metus a mi lobortis faucibus. Sed malesuada finibus turpis, id sodales arcu laoreet volutpat. Sed accumsan eget erat a ultricies. Praesent quis felis convallis, ullamcorper arcu ac, eleifend tortor.
		</p>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>