<div class="contentConti" id="homeConti">
	<div class="card">
		<div class="chead">
			<h1 class="blue">What can I find here?</h1>
		</div>
		<div class="cbody">
			<p class="paddedp">
				Here in the Alliance Services you will find several tools to ease your life in EVE, to manage your Corporation/Alliance, to calculate industry and market stuff, to grant you access to IT services and to let you manage various other things.
				<br>
				<br>
				<span class="btn" onclick="startTour();">Start a Tour</span>
			</p>
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h1 class="blue">Why are some of the tools not displaying anything?</h1>
		</div>
		<div class="cbody">
			<p class="paddedp">
				If you or you corp hasn't inserted an API Key some features might not be available. On the 'Settings' page is an option to add keys from the webpage, depending on what access you grant features will work.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h1 class="blue">I got a feature request or I found a bug/glitch/something to optimize, what should I do?</h1>
		</div>
		<div class="cbody">
			<p class="paddedp">
				You got an idea for a feature or functionality for the Eneticum EVE Tool which you would like to have added? Write me an ingame mail to 'Vincent Eneticum' or send me a mail to 'eve@eneticum.de' with a short description.
				For the bug reports, same as the feature requests, just send me a mail, ingame or out of game and I'll fix it asap.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="chead">
			<h1 class="blue">I like your tool, how can I support you?</h1>
		</div>
		<div class="cbody">
			<p class="paddedp">
				Nice, happy to hear that you like my work! There are plenty of ways to help me, the best would probably give me suggestions how to improve, spread the word about this tool to keep me motivated or even take part in this tool, translations coming, help section to be filled, probably much more to be done. If you would like to, you can always send me ingame donations so I can keep my single PLEX paid (yes I only have one single account).
			</p>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/home.js"></script>