<div class="contentConti" id="intelConti">
    <div id="intelNav" class="navigation">
        <div id="systemNav" class="half"><a onclick="click(this);" href="#!/intel/system/">System</a></div><div id="regionNav" class="half"><a onclick="click(this);" href="#!/intel/region/">Region</a></div>
    </div>
    <div id="intelContent" class="undernav">
        <div id="intelSystem" class="hide">
            <h1 id="intelStatus" class="intelText mbn">[Offline]</h1>
            <h3 id="intelLocation" class="intelText mtn"></h3>
            <div id="intelWarnings"></div>
            <div id="intelMemberlist"></div>
        </div>
        <div id="intelRegion" class="hide">
            <iframe id="regionFrame" src=""></iframe>
        </div>
    </div>
    <script type="text/template" id="charTemplate">
        <div class="hover row {2}"><img src="https://image.eveonline.com/Character/{0}_32.jpg" alt="{1}"/><a href="#!/profile/{0}/" onclick="click(this);">{1}</a></div>
    </script>
    <script type="text/template" id="alliTemplate">
        <div class="hover row {2}"><img src="https://image.eveonline.com/Alliance/{0}_32.png" alt="{1}"/><a href="#!/alliance/{0}/" onclick="click(this);">{1}</a></div>
    </script>
    <script type="text/template" id="warningTemplate">
        <div class="hover row"><a href="#!/intel/system/{0}/" onclick="click(this);">{1} [{2}]</a></div>
    </script>
</div>
<div id="intelSettings">
    <img src="./img/icons/Settings.png" alt="Settings"/>
    <div id="intelForm" class="">
        <input type="checkbox" class="check" id="checkTracker" checked="true" onchange="toggleTrack(this);refreshDom();"/>
        <div id="intelTracking">
            <h5 class="smt mbn">System</h5>
            <input type="text" id="intelSystemName" class="mtn" data-url="/json/systemnames/:param"/>
        </div>
        <h5 class="smt mbn">Paste</h5>
        <textarea id="intelPasteArea" class="mtn" onpaste="paste(event);"></textarea>
        <label for="checkTracker" id="intelTracker">Track</label>
    </div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/intel.js"></script>
