<div class="contentConti" id="mailsConti">
	<div id="structuresNav" class="sidenavigation">
		<div id="controltowerNav" class="bar">
            <a onclick="click(this);" href="#!/structures/controltower/">All</a>
        </div>
        <div id="warpdisruptorNav" class="bar">
            <a onclick="click(this);" href="#!/structures/warpdisruptor/">Personal</a>
        </div>
        <div id="sovereigntyNav" class="bar">
            <a onclick="click(this);" href="#!/structures/sovereignty/">Corporation</a>
        </div>
        <div id="personalNav" class="bar">
            <a onclick="click(this);" href="#!/structures/personal/">Alliance</a>
        </div>
	</div>
	<div id="structuresContent" class="undernav"></div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/mails.js"></script>
