<div class="contentConti" id="mailsConti">
	<div id="mailsNav" class="sidenavigation">
		<div id="allNav" class="bar">
            <a onclick="click(this);" href="#!/mails/all/">All</a>
        </div>
        <div id="personalNav" class="bar">
            <a onclick="click(this);" href="#!/mails/personal/">Personal</a>
        </div>
        <div id="corporationNav" class="bar">
            <a onclick="click(this);" href="#!/mails/corporation/">Corporation</a>
        </div>
        <div id="allianceNav" class="bar">
            <a onclick="click(this);" href="#!/mails/alliance/">Alliance</a>
        </div>
	</div>
	<div id="mailsContent" class="sidenav"></div>
	<script type="text/template" id="mailsTemplate">
		<div class="mail hover paddedp">
			<input class="details" type="checkbox" onchange="refreshDom();" id="{messageID}"/>
			<label for="{messageID}">
				<h5>[<a href="?id={messageID}">l</a>] {sentDate}</h5>
				<h5>{senderID}</h5>
				<h3><span>[<a href="?id={messageID}">l</a>] {sentDate}</span> [{type}] {name} : {title}</h3>
				<div><p class="inset">{message}</p></div>
			</label>
		</div>
	</script>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/mails.js"></script>
