<div class="contentConti" id="profileConti">
	<h1 class="blue tu ml">Character</h1>
	<p class="inset inline-block">
		<img class="block" id="characterImg"><img id="corporationImg"><img id="allianceImg">
	</p>
	<div class="inline-block ml">
		<h4 class="mbn">Character Name</h4>
		<h2 class="mtn dark" id="characterName"></h2>
		<h4 class="mbn">Corporation Name</h4>
		<h2 class="mtn dark" id="corporationName"></h2>
		<h4 class="mbn">Alliance Name</h4>
		<h2 class="mtn dark" id="allianceName"></h2>
	</div>
	<div class="inline-block ml">
		<h4 class="mbn">Groups</h4>
		<div id="groupList"></div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/profile.js"></script>
