<div class="contentConti" id="profileConti">
	<h1 class="blue tu ml">Character</h1>
	<p class="inset inline-block">
		<img class="block" id="characterImg"><img id="corporationImg"><img id="allianceImg">
	</p>
	<div class="inline-block ml">
		<h4 class="mbn">Character Name</h4>
		<h2 class="mtn dark" id="characterName"></h2>
		<h4 class="mbn">Corporation Name</h4>
		<h2 class="mtn dark" id="corporationName"></h2>
		<h4 class="mbn">Alliance Name</h4>
		<h2 class="mtn dark" id="allianceName"></h2>
	</div>
	<div class="inline-block ml">
		<h4 class="mbn">Groups</h4>
		<div id="groupList"></div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	profileJS();
	function profileJS () {
		ajax("/json/character/" + location.hash.split("/")[2] + "/", function (r) {
			$("#characterImg").src = "https://image.eveonline.com/Character/" + r.characterID + "_128.jpg";
			$("#characterImg").alt = r.characterName;
			$("#corporationImg").src = "https://image.eveonline.com/Corporation/" + r.corporationID + "_64.png";
			$("#corporationImg").alt = r.corporationName;
			$("#allianceImg").src = "https://image.eveonline.com/Alliance/" + r.allianceID + "_64.png";
			$("#allianceImg").alt = r.allianceName;

			$("#characterName").innerHTML = r.characterName;
			$("#corporationName").innerHTML = r.corporationName;
			$("#allianceName").innerHTML = r.allianceName;

			fadeOn($("#profileConti"), 1);
		}, "json");
		ajax("/json/character/" + coreStatus.charid + "/groups/", function (r) {
			var el = $("#groupList");
			el.innerHTML = '';
			for (var i = r.length - 1; i >= 0; i--) {
				el.innerHTML += '<div> + ' + r[i]['name'] + '</div>';
			};
		}, "json");
	}
</script>