<div class="contentConti" id="taxesConti">
	<div class="card">
		<div class="chead">
			<h3 class="blue" id="taxesHead">Ratting Taxes</h3>
      <div>
        <input type="text" id="taxesFrom" placeholder="From (dd.mm.yyyy)" class="mtn"/>
        <input type="text" id="taxesTill" placeholder="Till (dd.mm.yyyy)"/>
        <span class="btn smt" onclick="taxesJS();">Update</span>
      </div>
		</div>
		<div class="cbody" id="taxesList"></div>
	</div>
	<div style="display: none;">
		<div id="journalTemplate">
			<div class="hover paddedp"><span>{0}</span><span class="fr">{1}</span></div>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/taxes.js"></script>
