<div class="contentConti" id="taxesConti">
	<div class="card">
		<div class="chead">
			<h3 class="blue" id="taxesHead">Ratting Taxes</h3>
      <div>
        <input type="text" id="taxesFrom" placeholder="From (dd.mm.yyyy)" class="mtn"/>
        <input type="text" id="taxesTill" placeholder="Till (dd.mm.yyyy)"/>
        <span class="btn smt" onclick="taxesJS();">Create</span>
      </div>
		</div>
		<div class="cbody" id="taxesList"></div>
	</div>
	<div style="display: none;">
		<div id="journalTemplate">
			<div class="hover paddedp"><span>{0}</span><span class="fr">{1}</span></div>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	taxesJS();
	function taxesJS () {
		ajax("/json/corporation/0/wallet/" + ($("#taxesFrom").value != "" ? ($("#taxesFrom").value + ($("#taxesTill").value != "" ? "/" + $("#taxesTill").value : "")) + '/' : ''), function (r) {
			console.log(r);

			var tmpl = $("#journalTemplate").innerHTML;
			var el = $("#taxesList");
			el.innerHTML = "";

			for(var i = 0; i < r.entries.length; i++)
					el.innerHTML += tmpl.format([r.entries[i].ownerName, r.entries[i].valuestr]);

      el.innerHTML += tmpl.format(["<b>Global</b>", "<b>" + r.globalstr + "</b>"]);

			fadeOn($("#taxesConti"), 1);
		}, "json");
	}
</script>
