<div class="contentConti" id="settingsConti">
	<div class="card">
		<div class="chead">
			<h2 class="blue">Add API Key</h2>
		</div>
		<div class="cbody paddedp">
			<h4 id="submitresponse"></h4>
			<!--<div class="divider"></div>-->
			<h4 class="mbn">Key ID</h4>
			<input type="text" name="keyID" id="keyID"/>
			<h4 class="mbn">vCode</h4>
			<input type="text" name="vCode" id="vCode"/>
			<div class="divider"></div>
			<span class="btn" onclick="submitAPI();">Submit</span>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/settings.js"></script>
