<div class="contentConti" id="settingsConti">
	<div class="card">
		<div class="chead">
			<h2 class="blue">Add API Key</h2>
		</div>
		<div class="cbody paddedp">
			<h4 id="submitresponse"></h4>
			<!--<div class="divider"></div>-->
			<h4 class="mbn">Key ID</h4>
			<input type="text" name="keyID" id="keyID"/>
			<h4 class="mbn">vCode</h4>
			<input type="text" name="vCode" id="vCode"/>
			<div class="divider"></div>
			<span class="btn" onclick="submitAPI();">Submit</span>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	settingsJS();
	function settingsJS () {
		fadeOn($("#settingsConti"), 1);
	}
	function submitAPI () {
		var keyID = document.getElementsByName("keyID")[0].value;
		var vCode = document.getElementsByName("vCode")[0].value;
		if(keyID == "" || vCode == "") return;
		ajax("/json/apikey/" + keyID + "/" + vCode + "/", function (r) {
			$("#keyID").value = "";
			$("#vCode").value = "";
			$("#submitresponse").innerHTML = r.msg;
		}, "json");
	}
</script>