<div class="contentConti" id="structuresConti">
	<div id="structuresNav" class="navigation">
		<div id="controltowerNav" class="quat"><a onclick="click(this);" href="#!/structures/controltower/">Control Tower</a></div><div id="warpdisruptorNav" class="quat"><a onclick="click(this);" href="#!/structures/warpdisruptor/">Warp Disruptor</a></div><div id="sovereigntyNav" class="quat"><a onclick="click(this);" href="#!/structures/sovereignty/">Sovereignty</a></div><div id="personalNav" class="quat"><a onclick="click(this);" href="#!/structures/personal/">Personal</a></div>
	</div>
	<div id="structuresContent" class="undernav"></div>
	<div style="display: none;">
        <div id="controltowerStructuresTemplate">
            <div id="pos{0}" class="pos">
                <input type="checkbox" class="check" id="pos{0}toggle">
                <div class="collapsed paddedp">
                    <h3 class="mbn mtn"><a href="#!/structures/controltower/{0}/" onclick="click(this);">{1}</a></h3>
                    <div class="progressBar"><div style="width: {5}%;"></div></div>
                    <label for="pos{0}toggle" class="hover">+</label>
                </div>
                <div class="opened paddedp">
                    <table>
                        <tbody id="controltowerStructuresTemplate">
                            <tr>
                                <td colspan="1"><span class="info hover" onmouseover="loadNotif({0}, this);"><div class="notif"></div>i</span><a href="#!/structures/controltower/{0}/" onclick="click(this);">{1}</a></td>
                                <td colspan="3">{2}</td>
                            </tr>
                            <tr>
                                <td colspan="1">Status: {3}</td>
                                <td colspan="3">{4}</td>
                            </tr>
                            <tr><td>Fuel</td><td colspan="3"><div class="progressBar"><div style="width: {5}%;"></div></div></td></tr>
                            <tr><td>Strontium</td><td colspan="3"><div class="progressBar"><div style="width: {6}%;"></div></div></td></tr>
                            <tr class="ttr"><td colspan="4"></td></tr>
                        </tbody>
                    </table>
                    <label for="pos{0}toggle" class="hover">-</label>
                </div>
            </div>
        </div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	structuresJS();
	function structuresJS () {
		if(location.hash.split("/")[2] == "") {
			var t = $("#controltowerNav").children[0];
			location.hash = t.getAttribute("href");
			click(t);
		} else {
			$("#" + location.hash.split("/")[2] + "Nav").className.replace(" selected", "");
			$("#" + location.hash.split("/")[2] + "Nav").className += " selected";
			var fn = "structures" + location.hash.split("/")[2] + "JS";
			if(typeof window[fn] === "function")
				window[fn](function () {
					fadeOn($("#structuresConti"), 1);
				});
		}
	}

	function structurescontroltowerJS (cb) {
		var tmpl = $("#controltowerStructuresTemplate").innerHTML;
		var structCont = $("#structuresContent");
		var states = ["Unanchored", "Anchored / Offline", "Onlining", "Reinforced", "Online"];
		ajax("/json/structures/controltower/", function (r) {
			var corp = "";
			var region = "";
			var system = "";
			var ctn = "";
			var chngd = false;
			for (var i = 0; i < r.length; i++) {
				if(corp != r[i]['corpName']) {
					corp = r[i]['corpName'];
					ctn += '<h2 class="mtn mbn">' + corp + '</h2>';
				}
				if(region != r[i]['regionName']) {
					region = r[i]['regionName'];
					ctn += '<h3 class="mtn mbn">' + region + '</h3>';
				}
				if(system != r[i]['solarSystemName']) {
					system = r[i]['solarSystemName'];
					ctn += '<h4 class="mtn mbn">' + system + '</h3>';
				}
				var fuel = 0;
				var stront = 0;
				for(var j = 0; j < r[i]['content'].length; j++) {
					if(r[i]['content'][j]['group'] == 1136) {
						fuel += (r[i]['content'][j]['volume'] * r[i]['content'][j]['quantity']);
					} else if(r[i]['content'][j]['typeID'] == 16275) {
						stront += (r[i]['content'][j]['volume'] * r[i]['content'][j]['quantity']);
					}
				}
				ctn += tmpl.format([r[i]['id'], r[i]['name'], r[i]['moonName'], states[r[i]['state']], r[i]['typeName'], fuel / r[i]['capacity'] * 100, stront / r[i]['secondaryCapacity'] * 100]);
				chngd = false;
			};
			ctn += '</table>'
			structCont.innerHTML = ctn;
			cb();
		}, "json");
	}

	function structureswarpdisruptorJS (cb) {
		cb();
	}

	function structuressovereigntyJS (cb) {
		cb();
	}

	function structurespersonalJS (cb) {
		cb();
	}
</script>
