<div class="contentConti" id="timersConti">
	<div class="card">
		<div class="chead">
			<h3 class="blue" id="timersHead">Timers</h3>
		</div>
		<div class="cbody" id="timersList"></div>
	</div>
	<div class="card" id="createTimerForm">
		<div class="chead">
			<h2 class="blue">Create Timer</h2>
		</div>
		<div id="groupform" class="cbody paddedp">
			<h4 id="createresponse"></h4>
			<h4 class="mbn">Timer Scope</h4>
			<select id="timerScope"></select>
			<h4 class="mbn">Owner</h4>
			<input type="text" id="timerOwner" data-url="/json/corpallinames/:param"/>
			<h4 class="mbn">Structure</h4>
			<input type="text" id="timerStrucure" data-url="/json/invtypenames/:param"/>
			<h4 class="mbn">Location</h4>
			<input type="text" id="timerLocation" data-url="/json/invnames/:param"/>
			<h4 class="mbn">Reinforce</h4>
			<input type="number" min="0" max="3" id="timerRf"/>
			<h4 class="mbn">Time</h4>
			<input type="text" id="timerTime" placeholder="dd-mm-yyyy hh:mm"/>
			<h4 class="mbn">Comment</h4>
			<textarea id="timerComment"></textarea>
			<div class="divider"></div>
			<span class="btn" onclick="createTimer();">Create</span>
		</div>
	</div>
	<script type="text/template" id="timerTemplate">
		<div class="hover paddedp {standing}Standing"><a {0} onclick="click(this);">&lt;{typeName}&gt; {ownerName} [{locationName}] RF {rf} ({timestamp})</a></div>
	</script>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript" src="/js/pages/timers.js"></script>
