<div class="contentConti" id="timersConti">
	<div class="card">
		<div class="chead">
			<h3 class="blue" id="timersHead">Timers</h3>
		</div>
		<div class="cbody" id="timersList"></div>
	</div>
	<div class="card" id="createTimerForm">
			<div class="chead">
					<h2 class="blue">Create Timer</h2>
			</div>
			<div id="groupform" class="cbody paddedp">
					<h4 id="createresponse"></h4>
					<h4 class="mbn">Timer Scope</h4>
					<select id="timerScope"></select>
					<h4 class="mbn">Structure</h4>
					<input type="text" id="timerStrucure" data-url="/json/invtypenames/:param"/>
					<h4 class="mbn">Location</h4>
					<input type="text" id="timerLocation" data-url="/json/invnames/:param"/>
					<h4 class="mbn">Reinforce</h4>
					<input type="number" min="0" max="3" id="timerRf"/>
					<h4 class="mbn">Time</h4>
					<input type="text" id="timerTime" placeholder="dd-mm-yyyy hh:mm"/>
					<h4 class="mbn">Comment</h4>
					<textarea id="timerComment"></textarea>
					<div class="divider"></div>
					<span class="btn" onclick="createTimer();">Create</span>
			</div>
	</div>
	<div style="display: none;">
		<div id="timerTemplate">
			<div class="hover paddedp"><a {0} onclick="click(this);">{1}({2})</a></div>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	timersJS();
	function timersJS () {
		resetTimerForm();
		ajax("/json/timers/", function (r) {
			console.log(r);

			var tmpl = $("#timerTemplate").innerHTML;
			var el = $("#timersList");
			el.innerHTML = "";

			for(var i = 0; i < r.timers.length; i++)
					el.innerHTML += tmpl.format(["", r.timers[i].typeID, r.timers[i].locationID]);

      var acType = new AutoComplete("timerStrucure");
      acType.oncomplete = function (self, el) {
          self.input.setAttribute("data-id", el.getAttribute("data-dat"));
      };

      var acLoca = new AutoComplete("timerLocation");
      acLoca.oncomplete = function (self, el) {
          self.input.setAttribute("data-id", el.getAttribute("data-dat"));
      };

			if(r.cancreate.length > 0)
				$("#timerScope").innerHTML = '<option>' + r.cancreate.join('</option><option>') + '</option>';

			if(r.cancreate.length == 0)
				$("#createTimerForm").parentNode.removeChild($("#createTimerForm"));


			fadeOn($("#timersConti"), 1);
		}, "json");
	}

	function createFleet () {
			var req = new XMLHttpRequest();
			req.onreadystatechange = function () {
					if(req.readyState == 4 && req.status == 200) {
							var r = JSON.parse(req.responseText);
							$("#createresponse").innerHTML = r['msg'];
							if(r.state == "success") {
									timersJS();
							} else {
								$("#createresponse").innerHTML = r.msg;
							}
					}
			};
			req.open("POST", "/json/timer/create/", true);
			req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			req.send(encodeURI("scope=" + $("#timerScope").value + "&typeID=" + $("#timerStrucure").getAttribute("data-id") + "&locationID=" + $("#timerLocation").getAttribute("data-id") + "&rf=" + $("#timerRf").value + "&comment=" + $("#timerComment").value + "&timestamp=" + Date.parse($("#timerTime").value)));
	}

	function resetTimerForm () {
		$("#timerScope").value = "";
		$("#timerStrucure").value = "";
		$("#timerLocation").value = "";
		$("#timerRf").value = "";
		$("#timerTime").value = "";
		$("#timerComment").value = "";
	}
</script>
