<div class="contentConti" id="timersConti">
	<div class="card">
		<div class="chead">
			<h3 class="blue" id="timersHead"></h3>
		</div>
		<div class="cbody" id="timersList"></div>
	</div>
	<div style="display: none;">
		<div id="timerTemplate">
			<div class="hover paddedp"><a {0} onclick="click(this);">{1}({2})</a></div>
		</div>
	</div>
</div>
<label id="maxBtn" for="checkMaxed">+</label>
<script type="text/javascript">
	timersJS();
	function timersJS () {
		ajax("/json/timers/", function (r) {
			console.log(r);
      /*
			$("#contentsname").innerHTML = r.name;
			var tmpl = $("#contentsTemplate").innerHTML;
			var el = $("#contentlist");
			el.innerHTML = "";
			for(var i = 0; i < r.list.length; i++)
				el.innerHTML += tmpl.format([r.list[i]['flag'] == 0 ? 'href="#!/corporation/' + r.list[i]['ownerID'] + '/container/' + r.list[i]['itemID'] + '/"' : '', r.list[i]['name'] ? r.list[i]['name'] : "", r.list[i]['typeName']]);
*/
			fadeOn($("#timersConti"), 1);
		}, "json");
	}
</script>
