<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="mobile-web-app-capable" content="yes">
        <title>Alliance - Services</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/mock.css">
        <link rel="stylesheet" type="text/css" href="./css/iframe.css">
        <link rel="stylesheet" type="text/css" href="./css/mobile.css">
        <link rel="stylesheet" type="text/css" href="./css/large.css">
        <script type="text/javascript" src="/js/md5.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <!-- #Toggles -->
        <input type="checkbox" class="check" id="checkLoggedin" onchange="refreshDom();" />
        <input type="checkbox" class="check" id="checkSidebar"  onchange="refreshDom();" />
        <input type="checkbox" class="check" id="checkMaxed"    onchange="refreshDom();" />
        <!-- #Content -->
        <div id="container">
            <div id="header">
                <div id="righthead"></div>
                <div id="midhead"></div>
                <div id="lefthead"><label for="checkSidebar" id="navigationBtn">Navigation</label></div>
            </div>
            <h1 id="title"><div id="titleflow" style="">&nbsp;</div></h1>
            <div id="sidebar">
                <a class="sidebarrow" onclick="click(this);" href="#!/home/">
                    <h2>Home</h2>
                    <img src="./img/icons/agent.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/profile/">
                    <h2>Profile</h2>
                    <img src="./img/icons/charactersheet.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/notifications/">
                    <h2>Notifications</h2>
                    <img src="./img/icons/attention.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/mails/">
                    <h2>Mails</h2>
                    <img src="./img/icons/evemail.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/intel/system/">
                    <h2>Intel</h2>
                    <img src="./img/icons/chatchannel.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/timerboard/">
                    <h2>Timerboard</h2>
                    <img src="./img/icons/trainingqueue.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/fleets/">
                    <h2>Fleets</h2>
                    <img src="./img/icons/fleet.png"/>
                </a>
                <!--<a class="sidebarrow" onclick="click(this);" href="#!/logistic/">
                    <h2>Logistic</h2>
                    <img src="./img/icons/contracts.png"/>
                </a>-->
                <!--<a class="sidebarrow" onclick="click(this);" href="#!/corporation/">
                    <h2>Corporation</h2>
                    <img src="./img/icons/corporation.png"/>
                </a>-->
                <!--<a class="sidebarrow" onclick="click(this);" href="#!/alliance/">
                    <h2>Alliance</h2>
                    <img src="./img/icons/alliances.png"/>
                </a>-->
                <a class="sidebarrow" onclick="click(this);" href="#!/corporation/wallet/">
                    <h2>Corp Ratting Tax</h2>
                    <img src="./img/icons/wallet.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/structures/controltower/">
                    <h2>Structures</h2>
                    <img src="./img/icons/station.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/assets/personal/">
                    <h2>Assets</h2>
                    <img src="./img/icons/items.png"/>
                </a>
                <!--<a class="sidebarrow" onclick="click(this);" href="#!/fittings/">
                    <h2>Fittings</h2>
                    <img src="./img/icons/fitting.png"/>
                </a>-->
                <a class="sidebarrow" onclick="click(this);" href="#!/members/corporation/">
                    <h2>Members</h2>
                    <img src="./img/icons/member.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/groups/">
                    <h2>Groups</h2>
                    <img src="./img/icons/grouplist.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/settings/">
                    <h2>Settings</h2>
                    <img src="./img/icons/Settings.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/help/">
                    <h2>Help</h2>
                    <img src="./img/icons/help.png"/>
                </a>
                <a class="sidebarrow" onclick="click(this);" href="#!/about/">
                    <h2>About</h2>
                    <img src="./img/icons/info.png"/>
                </a>
            </div>
            <div id="content"></div>
            <div id="splitPane" onclick="splitPane();">+</div>
            <div id="scrollHere"><div>Scroll</div><div>Here</div></div>
            <div id="mobilebg"></div>
            <div id="logincard">
                <div id="loggedincard">
                    <div id="cardbg"></div>
                    <img id="charImg" src="" alt=""><span id="charName"></span>
                    <div id="unreadcount"><a id="unreadcounta" href="#!/notifications/" onclick="click(this);"></a></div>
                    <label id="logoutlabel"><a href="#!/logout/" onclick="click(this);">Logout</a></label>
                    <label id="switchlabel">Switch Character</label>
                    <div id="charlist"></div>
                </div>
                <div id="loggedoutcard">
                    <img src="./img/4_128_1.png"/>
                    <h1>Alliance Services</h1>
                    <a id="loginurl" href="{{ EVESSOURL }}" onclick="/*if(typeof(CCPEVE) == 'undefined') { authwin = window.open(this.href, 'mywin','left=200,top=200,width=500,height=600,toolbar=1,resizable=0'); return false;}*/"><img src="/img/EVE_SSO_Login_Buttons_Small_White.png" alt="EVE SSO Login Button"></a>
                    <div id="disclaimer" class="abs">
                        <span class="info hover">
                            <div class="notif abs">
                                <p style="font-size:80%" class="paddedp">
                                    Learn more about the security of <i>EVE Online SSO</i> in this <a href="http://community.eveonline.com/news/dev-blogs/eve-online-sso-and-what-you-need-to-know/" target="_blank">dev-blog</a> article by <a href="https://twitter.com/CCP_FoxFour" target="_blank">CCP FoxFour</a>.<br>
                                    Summary: Verify that after clicking the login button, you are redirected to https://login.eveonline.com/ and it <a href="img/ccp_hf_cert.png" target="_blank">shows up</a> as certified by <i>CCP Hf [IS]</i>.
                                </p>
                            </div>
                            i
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64437654-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
